@import 'variable';
// base css
body,html{
    font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "黑体", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, table, th, td {margin:0; padding:0;}
ul,li{list-style: none;}
p,.p{
    font-size: 14px;
    margin: 5px 0;
}
body,html{min-height: 100%;height: auto;}
button,a{outline: none;cursor: pointer;}

a{color: $green;}
a:hover,a:active{color: $green;}
.a{cursor: pointer;}
// util css
.container{
    width: 80%;
    margin: 0 auto;
    @extend %clearfix;
    @media screen and (max-width: 768px){
        // width: 98%;
    }
}

.clearfix{
    &:before,&:after{
        content: '';
        display: table;
    }
    &:after{
        clear: both;
    }
}
.pull-right{
    float: right;
}
.pull-left{
    float: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.margin-vertical{
    margin-top: 10px;
    margin-bottom: 10px;
}
.gray{
    color: gray;
}
.flexrow{
    display: flex;
    align-items: center;
}
.my-btn-line{
    color: #108ee9;
    border:transparent solid 1px;
    background-color: transparent;
    @extend %btn;

    &:hover{
        background-color: #d9d9d9;
    }
}

.title{
    font-size: 18px;
    margin-bottom: 20px; 
}

.line{
    display: block;
}