@import 'variable';




// search component css
.search{
    height: 130px;
    text-align: center;
    
    .search-wrapper{
        height: 100%;
        background-image: url($searchbg);
        background-position: center;
        background-repeat: no-repeat;
    }
    .ant-input-search{
        margin-top: 25px;
    }
    .ant-input{
        border-color: #666;
        color: #333;
        background-color: transparent;
    }
    .ant-input-suffix{
        color: #666;
    }
    input::-webkit-input-placeholder{
        color:#666;
    }
    input::-moz-placeholder{   /* Mozilla Firefox 19+ */
        color:#666;
    }
    input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
        color:#666;
    }
    input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
        color:#666;
    }
}

// mbookitem component css
.m-book-item{
    display: flex;
    margin-bottom: 20px;
    .pic{
        margin-right: 10px;
        img{
            display: block;
            width: 120px;
        }
    }
    .ant-btn{
        height: 28px;
        line-height: 28px;
    }
    .info-title{
        display: flex;
        justify-content: space-between;
    }
}

// mbooinfo component css
.m-book-info{
    display: flex;
    margin-bottom: 20px;
    .pic{
        width: 180px;
        margin-right: 10px;
        img{
            display: block;
            width: 100%;
        }
    }
}

//media css
.media{
    .media-left,.media-body{
        display: table-cell;
        vertical-align: top;
    }
    .media-body{
        padding: 0 10px;
        font-size: 14px;
        line-height: 20px;
    }
}

.reply{
    margin: 10px 0;
    form{
        display: flex;
    }
    .reply-body{
        flex: 1;
    }
    .reply-right{
        width: 140px;
        .ant-btn{
            margin-left:5px;
        }
    }
}

.m-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    button{
        margin: 0 5px;
    }
}