@import 'variable';

@import 'override.scss';
@import 'common.scss';
@import 'component.scss';


// app css
.header{
    background-color: #101010;
    margin-bottom: 20px;
    height: 52px;
    display: flex;
    align-items: center;
    .ant-badge{
        color: #ffffff;
        font-size: 16px;
        margin-right: 10px;
    }
}

.footer{
    margin-top: 100px;
    text-align: center;
    background-color: #101010;
    color: #999999;
    p{
        font-size: 12px;
        line-height: 50px;
        margin: 0;
    }
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo{
        width: 50px;
        font-size: 35px;
        font-family: Gabriola;
        color: #f2f2f2;
    }
    .ant-input-search{
        @media screen and (max-width:850px) {
            display: none;
        }
    }
    .nav-header{
        display: flex;
        align-items: center;

        li{
            display: inline-block;
            margin: 0 15px;
            .active{
                color: #D3D3D3;
            }
            a{
                display: block;
                color: #666666;
                font-size: 18px;
                line-height: 50px;
            }
            a:hover{
                color: white;
            }
        }
    }
    .nav-header-right{
        padding: 10px 0;
        .ant-dropdown-link{
            line-height: 28px;
            font-size: 14px;
            color: #f2f2f2;
            background-color: transparent;
            border: none;
        }
    }
}


.hot-book{
    margin-bottom: 20px;
    .ant-carousel .slick-slide{
        background-color: #f2f2f2;
        overflow: hidden;
    }
    .ant-carousel .slick-dots li.slick-active button{
        background: $green;
    }
    .ant-carousel .slick-dots li button{
        background:gray; 
    }
}
.book-nav{
    @extend %flexonerow;
    justify-content:center;
    padding: 15px 0;
    li{
        margin: 0 5px;
        position: relative;
    }
    .book{
        display: block;
        text-align: center;
        font-size: 14px;
        padding-bottom: 5px;
        border-radius: 4px;
    }
    .book-edit{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        background-color: rgba(0,0,0,.3);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img{
        display: block;
        width: 130px;
        height: 160px;
        border-radius: 4px;
        overflow: hidden;
    }
    .img img{height: 100%}  
}
.tag-box{
    margin-bottom: 20px;    
    .ant-tag{
        margin-top:5px;
        margin-bottom: 5px; 
    }
}

.circle{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    &.white{
        background-color: #ffffff;
        border: 1px solid #cccccc;
    }
    &.dark{
        background-color: #222222;
    }
    &.green{
        background-color: #6E8B3D;
    }
}

/*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/
.scrollbar::-webkit-scrollbar{
    width: 16px;
    height: 16px;
    background-color: #f5f5f5;
}
/*定义滚动条的轨道，内阴影及圆角*/
.scrollbar::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}
/*定义滑块，内阴影及圆角*/
.scrollbar::-webkit-scrollbar-thumb{
    /*width: 10px;*/
    height: 20px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}